body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(weather.webp);
  background-size: cover;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; 
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom right, #FF9D23 , #16404D); 
  opacity: 0.8;
  z-index: 1; 
}

.hidden {
  display: none;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 3px solid;
  border-color: black;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  background-color: #D6DAC8;
}

button {
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
      width: 90%;
  }

  input, button {
      width: 100%;
  }
}


.raindrop {
  position: absolute;
  width: 2px;
  height: 15px;
  background: rgba(255, 255, 255, 0.6);
  bottom: 100%;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}


.raindrop:nth-child(odd) {
  animation-duration: 0.5s;
}
.raindrop:nth-child(even) {
  animation-duration: 0.7s;
}
.raindrop:nth-child(3n) {
  animation-duration: 0.6s;
}
.raindrop:nth-child(5n) {
  animation-duration: 0.8s;
}